<!-- Sección Sobre Mí -->
<section id="sobre-mi"
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16 flex flex-col md:flex-row items-center justify-between gap-10">
    <div class="relative flex justify-center items-center w-full md:w-1/2">
        <img src="./assets/perfil-yeya.png" alt="Iran Salazar"
            class="relative z-10 w-60 h-60 sm:w-72 sm:h-72 md:w-80 md:h-80 lg:w-96 lg:h-96 object-contain drop-shadow-xl">
    </div>
    <div class="max-w-xl text-center md:text-left w-full md:w-1/2">
        <h3 class="text-2xl sm:text-3xl font-bold text-pink-600 mb-4">Sobre mí</h3>
        <p class="text-base sm:text-lg mb-4 text-gray-800 leading-relaxed">
            ¡Hola! Soy Iran Salazar, estudiante y apasionada del desarrollo de software. Me encanta transformar ideas
            creativas en aplicaciones web funcionales, cuidando tanto la experiencia visual como la lógica detrás de
            cada plataforma.
        </p>
        <p class="text-base sm:text-lg text-gray-800 leading-relaxed">
            Actualmente sigo ampliando mis habilidades técnicas participando en proyectos full stack e implementando
            buenas prácticas de programación.
        </p>
    </div>
</section>